<div class="gallery">
  <% photos.forEach(photo => { %>
    <% 
    const tagClasses = photo.tags.map(tag => tag.toLowerCase()).join(' ');
    %>
    <div class="heart-icon gallery-item <%= tagClasses %> <%= photo.width > photo.height ? 'landscape' : 'portrait' %>" 
      onclick="toggleHeart(this)" 
      data-id="<%= photo.url.match(/img_(\d+)\.avif/)?.[1] || '' %>" 
      data-tags="<%= Array.isArray(photo.tags) ? photo.tags.map(t => t.trim().toLowerCase()).join(',') : '' %>">
   <a href="/gallery/<%= path.basename(photo.url) %>">
     <img src="<%= photo.url %>" alt="<%= photo.url %>" loading="lazy">
   </a>    
   &#9825;
 </div>
  <% }) %>
</div>