<div class="gallery">
    
  <% photos.forEach(photo => { %>
    <% 
    // Use a regular expression to extract the number from the filename
    const match = photo.url.match(/img_(\d+)\.avif/);
    const imageId = match ? match[1] : '';  // Extract the number or use an empty string if not matched
  %>
    <span class="heart-icon" onclick="toggleHeart(this)" data-id="<%= imageId %>">

    <div class="gallery-item <%= photo.width > photo.height ? 'landscape' : 'portrait' %>">
        <a href="/gallery/<%= path.basename(photo.url) %>">
            <img src="<%= photo.url %>" alt="<%= photo.url %>">
        </a>    

    </div>
    &#9825;
</span> 
<% }) %>

</div>